
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #7CC67C;
  border-radius: 4px;
  overflow: hidden;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

.card-header {
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #7CC67C;
  background-color: #7CC67C;
  padding: 5px 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-size: 36px;
  color: #D32F2F;
  margin-bottom: 5px;
}

.main-description {
  color: #D32F2F;
  font-size: 12px;
  text-align: center;
}

.font-s {
   font-size: 13px;
}

.font-s2 {
   font-size: 12px;
   vertical-align: middle !important;
}

.th-center {
   text-align: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1px;
}

.padding-l0 {
   padding-left: 0 !important;
}

.padding-r0 {
   padding-right: 0 !important;
}

.padding-lr0 {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

@media screen and (min-height: 540px) {
   .scroll-div {
      max-height: 600px;
      overflow-y: scroll;
   }
}
@media screen and (min-height: 810px) {
   .scroll-div {
      max-height: 640px;
      overflow-y: scroll;
   }
}

.edit-dd {
   left: -100px !important;
   min-width: 0 !important;
   margin-top: 25px !important;
   box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
   border-color: #BBBBBB;
}
