@media (min-width: 768px) {
.custom-container{
    width:600px;
    margin-right: auto;
    margin-left: auto;
}}

@media (min-width: 992px) {
.custom-container{
    width:780px;
    margin-right: auto;
    margin-left: auto;
}}

@media (min-width: 1200px) {
.custom-container{
    width:1000px;
    margin-right: auto;
    margin-left: auto;
}}
